.s1 {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    align-content: flex-start;
    flex-shrink: 0;
    background-color: #fff;
    height: 100%;
}

.s2 {
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: black black rgb(231, 231, 231);
    border-image: initial;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    place-content: flex-start center;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 0px 11.04px;
    height: 50.784px;
    -webkit-box-pack: center;
}

.s4 {
    border: 0px solid black;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    place-content: flex-start center;
    flex-shrink: 0;
    cursor: pointer;
    height: 52.992px;
    font-size: 15.456px;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    background-color: rgb(255, 83, 2);
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.spbox {
    border-top: 1px solid rgb(244, 244, 244);
    padding: 14.352px 13.248px;
    background-color: rgb(255, 255, 255);
    height: 20px;
    ;
}

.sbtn {
    border: none;
    /* padding: 0.02rem 0; */
    color: #fff;
    font-size: 16px;
    text-align: center;
    /* border-radius: 1.5rem; */
    background: linear-gradient(90deg, #3bb1e9, #2fead9);
    box-shadow: 2px 3px 0rem 0px rgba(233, 59, 61, .2);
    width: 150px;
    display: block;
    height: .4rem;
    line-height: 0.4rem;
    position: relative;
    margin: 0 auto;
    height: 28px;
    float: right;
}

.s30 {
    margin-right: 19.872px;
}

.s31 {
    font-size: 15.456px;
    color: rgb(102, 102, 102);
}

.s5 {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: block;
    -webkit-box-orient: vertical;
    flex-direction: column;
    align-content: flex-start;
    flex-shrink: 0;
    font-size: 15.456px;
    color: rgb(255, 255, 255);
}

.s6 {
    background-color: rgb(244, 244, 244);
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    align-content: flex-start;
    flex-shrink: 0;
    max-height: 5.52e+11px;
}

.s7 {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    align-content: flex-start;
    flex-shrink: 0;
}

.s8 {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    align-content: flex-start;
    flex-shrink: 0;
    padding: 14.352px 13.248px;
    background-color: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
    height: 46.368px;
}

.s9 {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    align-content: flex-start;
    flex-shrink: 0;
    padding: 0px 13.248px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 14.352px;
    margin-top: 0px;
}

.s10 {
    background: #fff;
    padding-left: 13.248px;
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    align-content: flex-start;
    flex-shrink: 0;
    height: 46.368px;
    -webkit-box-align: center;
    align-items: center;
    
}
.s101{margin-bottom: 55px;}
.s11 {
    border: 0px solid black;
    position: relative;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    align-content: flex-start;
    flex-shrink: 0;
}

.sx1 {
    border: 0px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: flex-start center;
    flex: 1 1 0%;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 19.872px;
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
}

.sx1 img,
.sico {
    display: inline-block;
    width: 22.08px;
    height: 22.08px;
    margin-left: auto;
    margin-right: auto;
}

.s16 {
    padding: 11.04px 11.04px;
    background-color: rgb(255, 255, 255);
}

.s12 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-width: 0px;
    color: rgb(0, 0, 0);
    padding: 0px;
    line-height: 17.664px;
    font-size: 15.456px;
    height: 110.4px;
    outline: none;
    resize: none;
    flex: 1 1 0%;
    width: 100%;
    -webkit-box-flex: 1;
}

.sbk {
    border: 0px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex: 1 1 0%;
    cursor: pointer;
    -webkit-box-flex: 1;
}

.stitle {
    border: 0px solid black;
    position: relative;
    box-sizing: border-box;
    display: block;
    -webkit-box-orient: vertical;
    flex-direction: column;
    align-content: flex-start;
    flex-shrink: 0;
    font-size: 17.664px;
    text-align: center;
}

.spro {
    margin-bottom: 20px;
    background-color: rgb(244, 244, 244);
}

.spt {
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    place-content: flex-start center;
    flex-shrink: 0;
    background-color: rgb(255, 255, 255);
    -webkit-box-align: center;
    align-items: center;
    padding: 14.352px 13.248px;
    -webkit-box-pack: center;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.sgp {
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    place-content: flex-start center;
    flex: 1 1 0%;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-box-flex: 1;
}

.sgp1 {
    display: flex;
    flex-direction: column;
    place-content: flex-start flex-end;
    flex: 1 1 0%;
    -webkit-box-flex: 1;
    -webkit-box-pack: end;
}

.sgp2 {
    display: block;
    flex-direction: column;
    align-content: flex-start;
    flex: 3 1 0%;
    font-size: 15.456px;
    color: rgb(170, 170, 170);
    -webkit-box-flex: 3;
}

.s15 {
    display: flex;
    flex-direction: column;
    place-content: flex-start flex-end;
    flex: 1 1 0%;
    cursor: pointer;
    -webkit-box-flex: 1;
    -webkit-box-pack: end;
}

.g1 {
    background: url(../images//ico/g1.png);
    background-size: cover;
}

.b1 {
    background: url(../images//ico/b1.png);
    background-size: cover;
}

.on span {
    color: rgb(255, 83, 2);
}

.on .g1 {
    background: url(../images//ico/g2.png);
    background-size: cover;
}

.x1 {
    background: url(../images//ico/x1.png);
    background-size: cover;
}

.on .x1 {
    background: url(../images//ico/x2.png);
    background-size: cover;
}

.on .b1 {
    background: url(../images//ico/b2.png);
    background-size: cover;
}

.sdp {
    display: block;
    flex-direction: column;
    align-content: flex-start;
    flex: 1 1 0%;
    font-size: 15.456px;
    margin-left: 11.04px;
    -webkit-box-flex: 1;
}

.sbico {
    display: flex;
    width: 26.496px;
    height: 26.496px;
}

.stt {
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    place-content: flex-start center;
    flex: 1 1 0%;
    padding: 0px;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
}

.spimg {
    display: flex;
    width: 28.704px;
    height: 28.704px;
    margin-right: 13.248px;
}
.spbox .spanbtn {
    position: relative;
    display: block;
    float: right;
}
.spbox .spanimg {
    height: 30px;
    display: block;
    float: left;
    overflow: hidden;
}
.spbox .spanimg img{
    height: 100%;
  
}