.my_section {
    position: relative;
   
    background: #fff
}

.my_section .head {
    position: relative;
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    padding: 0 10px
}

.my_section .head.head_act::after {
    margin-top: -8px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.my_section .head.head_act_unfold::after {
    margin-top: -3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.my_section .head span {
    color: #999;
    position: absolute;
    right: 25px;
    font-size: 12px
}

.my_section .head span.color_red {
    color: #e93b3d
}

.my_section .head .dot {
    top: 12px
}

.my_section .head .new {
    display: block;
    margin-top: 16px;
    padding: 0 4px;
    height: 12px;
    line-height: 12px;
    font-size: 8px;
    border-radius: 6px;
    color: #fff;
    background-color: #e93b3d
}

.my_section .head .new::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    margin-top: 1px
}

.my_section .head a {
    position: absolute;
    right: 10px;
    color: #3985ff;
    font-size: 12px
}

.my_section .head.disabled:after {
    display: none
}

.my_section a.head:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 6px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 12 20%22%3E%3Cpath fill=%22%23CCCCCC%22 fill-rule=%22evenodd%22 d=%22M2 20c-.8 0-1.5-.5-1.8-1.2-.3-.8-.2-1.6.4-2.2L7.2 10 .6 3.4c-.8-.8-.8-2 0-2.8.8-.8 2-.8 2.8 0l8 8c.4.4.6 1 .6 1.4 0 .5-.2 1-.6 1.4l-8 8c-.4.4-1 .6-1.4.6z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -6px
}

.my_section .list {
    position: relative
}

.my_section .list:before {
    border-color: #e5e5e5;
    left: 10px
}

.my_section .list li {
    position: relative;
    text-align: center
}

.my_section .list li a {
    position: relative;
    display: block;
    padding: 10px 0;
    color: #666
}

.my_section.disabled a,.my_section.disabled span,.my_section.disabled strong {
    color: #ccc!important
}

.my_section.disabled .head_value:before {
    background-position: -120px -30px
}
.my_lnks {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    background-color: #fff
}

.my_lnks .my_lnks_item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 11px 0 12px;
    text-align: center;
    font-size: 12px;
    color: #666
}

.my_lnks .my_lnks_item .dot {
    margin-left: 0
}

.my_lnks .my_lnks_item .booking {
    margin-left: 10px;
    margin-top: -10px;
    white-space: nowrap
}

.my_lnks .my_lnks_item .dot_num {
    margin-top: -2px
}

.my_lnks .my_lnks_num {
    position: relative;
    display: block;
    width: -webkit-fit-content;
    width: fit-content;
    height: 24px;
    margin: 0 auto 3px;
    font-size: 16px;
    font-weight: 700;
    color: #333
}
.view {
    background: #eee
}

 
 .user {
    position: relative;
    height: 1.333rem;
    margin: 0 auto;
    background: #d34201 url(../images/bb.jpg) no-repeat top center;
    background-size: cover;
    color: #fff
}

[data-dpr="1"]  .user {
    font-size: 14px
}

[data-dpr="2"]  .user {
    font-size: 28px
}

[data-dpr="3"]  .user {
    font-size: 42px
}

 .user a {
    color: #fff
}

 .user .set-btn {
    float: right;
  
}

 .user .set-btn p {
    width: 0.5rem;
    height: .32rem;
    line-height: .3rem;
    text-align: center;
    background: rgba(0,0,0,.5);
    border-radius: .4rem;
    margin-top: 0.1rem;
}

 .user .user-photo {
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    text-align: center;
    border-radius: 100%;
    padding: .027rem;
    background: rgba(255,255,255,.7);
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    overflow: hidden;
    margin-top: 0.66rem;
    margin-left: 0.11rem;
    z-index: 99;
}

 .user .user-photo img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

 .user .user-nick {
    
    width: 100%;
    padding-left: 0.997rem;
    box-sizing: border-box;
   
    font-size: .17rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    padding-top: 0.56rem;
}

 .user .user-nick:before, .user .user-nick:after {
    content: "";
    display: table
}

 .user .user-nick:after {
    clear: both
}

 .user .user-nick .nick {
    max-width: 6rem;
    margin-right: .033rem;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
    -ms-line-clamp: 1;
    -o-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    word-break: break-all
}

 .user .user-nick .level0 {
    background: url(../images/ico/i1.png)
}

 .user .user-nick .level1 {
    background: url(../images/ico/i2.png)
}

 .user .user-nick .level2 {
    background: url(../images/ico/i3.png)
}

 .user .user-nick .level3 {
    background: url(../images/ico/i4.png)
}

 .user .user-nick .level4 {
    background: url(../images/ico/i5.png)
}

 .user .user-nick .level5 {
    background: url(../images/ico/i6.png)
}

 .user .user-nick .level6 {
    background: url(../images/ico/i7.png)
}

 .user .user-nick .level {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: .17rem;
    -webkit-box-flex: 1
}

 section {
    margin-bottom: .1rem;
    border-bottom: .027rem solid #e7e7e7;
    background: #fff
}

[data-dpr="1"]  section {
    font-size: 14px
}

[data-dpr="2"]  section {
    font-size: 28px
}

[data-dpr="3"]  section {
    font-size: 42px
}

 section:after {
    content: '';
    display: block;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -1px;
    background: #d9d9d9
}

 .user-behavior {
    height: 1.44rem;
    text-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box
}

 .user-behavior ul {
    display: -webkit-box;
    width: 10rem;
    margin: 0 auto;
    padding-left: 2.267rem;
    box-sizing: border-box
}

 .user-behavior ul li {
    -webkit-box-flex: 1;
    border-left: 1px solid #e7e7e7
}

 .user-behavior ul li:first-child {
    border: 0
}

 .order-act ul {
    height: 0.7rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box
}

 .order-act ul li {
    width: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box
}

 .order-act ul li a {
    display: block;
    position: relative
}

 .order-act ul li p {
    text-align: center
}

 .order-act ul .order-icons:before {
    font-size: .28rem;
    color: #999
}

 .order-act ul .sub {
    /* margin-top: .067rem */
}

[data-dpr="1"]  .order-act ul .sub {
    font-size: 11px
}

[data-dpr="2"]  .order-act ul .sub {
    font-size: 22px
}

[data-dpr="3"]  .order-act ul .sub {
    font-size: 33px
}

 .order-act ul .number {
    position: absolute;
    top: -.05rem;
    right: 0;
    min-width: .15rem;
    height: .15rem;
    line-height: .15rem;
    /* padding: 0 .133rem; */
    border: .02rem solid #ff5000;
    border-radius: .333rem;
    color: #ff5000;
    font-weight: 700;
    font-size: .15rem;
    background: #fff;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all .4s ease-out
}

 .order-act ul .opacity-none {
    opacity: 0;
    -webkit-transform: scale(2)
}

 .order-act .label-act {
    border-top: 1px solid #e7e7e7
}
 .order-act .label-act2 {
    padding: 0.1rem 0;
    height: auto;
    padding-left: 0.1rem;
}

 .order-set {
    margin-top: .267rem;
    border-top: 1px solid #e7e7e7
}

 .order-set>div .title, .order-set>div .arrow {
    border-top: 1px solid #e7e7e7
}

 .order-set>div:first-child .title, .order-set>div:first-child .arrow {
    border-top: 0
}

 .order-btn-logout {
    padding: .32rem
}

 .order-btn-logout a {
    display: block;
    height: 1.28rem;
    line-height: 1.28rem;
    background: #ff5000;
    text-align: center;
    color: #fff;
    border-radius: .107rem
}

[data-dpr="1"]  .order-btn-logout a {
    font-size: 18px
}

[data-dpr="2"]  .order-btn-logout a {
    font-size: 36px
}

[data-dpr="3"]  .order-btn-logout a {
    font-size: 54px
}

 .label-act {
    height: 0.5rem;
   
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box
}

 .label-act>a {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box
}

 .label-act>div, .label-act>a>div {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box
}

 .label-act .title, .label-act2 .title {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1
}

.label-act .title h1 {
    width: 100%
}





 .label-act .ico {
    width: .667rem;
  
}
 .icc {
    width: .267rem;
  
}

.label-act .ico .ico-head{
    width: .6rem;
    height: .6rem;

}
.label-act2 .ico .ico-head img{
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
}
.label-act2 .ico {
    width: .667rem;
  
}
 .label-act .ico .ico-cont {
    background: #5090cd;
    width: .3rem;
    height: .3rem;
    display: inline-block;
    border-radius: .053rem;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box
}

 .label-act .ico .ico-cont span {
    line-height: 1px;
    display: block
}

 .label-act .ico .ico-cont span:before {
    font-size: .22rem;
    color: #fff
}

 .label-act .ico .ico-cart {
    background: #e7a200
}

 .label-act .ico .ico-alipay {
    background: #00aeef
}
 .label-act .ico .ico-msg {
    background: #ef0042
}

 .label-act .ico .ico-wangwang {
    background: #00aeef
}

 .label-act .ico .ico-caipiao {
    background: #e64c2e
}

 .label-act .ico .ico-jipiao {
    background: #00aeef
}

 .label-act .sub {
    color: #999
}

[data-dpr="1"]  .label-act .sub {
    font-size: 12px
}

[data-dpr="2"]  .label-act .sub {
    font-size: 24px
}

[data-dpr="3"]  .label-act .sub {
    font-size: 36px
}

 .label-act .arrow,.label-act2 .arrow {
    padding-right: .133rem;
    line-height: .067rem
}

 .label-act .arrow span:before {
    font-size: .2rem;
    color: #999
}

 .core-entry .label-act .title, .core-entry .label-act .arrow {
    border-bottom: 1px solid #e7e7e7
}

 .core-entry .label-act:last-child .title, .core-entry .label-act:last-child .arrow {
    border-bottom: 0
}

 footer {
    height: 1.147rem;
    background: #fff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box
}

[data-dpr="1"]  footer {
    font-size: 14px
}

[data-dpr="2"]  footer {
    font-size: 28px
}

[data-dpr="3"]  footer {
    font-size: 42px
}

 footer>div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box
}

 footer a {
    display: block;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

 footer .nick {
    padding: 0 .067rem 0 .32rem;
    box-sizing: border-box
}

 footer .nick a {
    text-align: left
}

 footer .nick:after {
    content: '';
    width: 1px;
    height: .347rem;
    display: inline-block;
    background: #e7e7e7
}

 footer .feedback, footer .topc {
    border-left: 1px solid #e7e7e7
}
@charset "UTF-8";[class^=icon-]:before,[class*=icon-]:before {
    display: inline-block;
    font-family: myapp-mytaobao-iconfont;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class^=icon-],[class*=icon-] {
    display: inline-block
}

.icon-deliver:before {
    content: ""
}

.icon-evaluate:before {
    content: ""
}

.icon-pay:before {
    content: ""
}

.icon-send:before {
    content: ""
}

.icon-ticket:before {
    content: ""
}

.icon-form:before {
    content: ""
}

.icon-right:before {
    content: ""
}

.icon-refund:before {
    content: ""
}

.icon-vip:before {
    content: ""
}

.icon-frend:before {
    content: ""
}

.icon-taoxiaopu:before {
    content: ""
}

.icon-wang:before {
    content: ""
}

.icon-cart:before {
    content: ""
}

.icon-pay2 {
    /* content: "" */
    background: url(../images/ico/money_bag.svg);
    width: 20px;
    height: 20px;
    
    background-size: contain;
}
.icon-message {
    /* content: "" */
    background: url(../images/ico/msg.svg);
    width: 20px;
    height: 20px;
    
    background-size: contain;
}
.icon-address {
    background: url(../images/ico/map.svg);
    width: 20px;
    height: 20px;
    
    background-size: contain;
}
.icon-home:before {
    content: ""
}

.icon-home_fill:before {
    content: ""
}

.icon-back:before {
    content: ""
}

.icon-search:before {
    content: ""
}

.icon-wifi:before {
    content: ""
}

.icon-location:before {
    content: ""
}

.icon-comment:before {
    content: ""
}

.icon-phone:before {
    content: ""
}

.icon-caipiao:before {
    content: ""
}

.icon-jipiao:before {
    content: ""
}
@font-face {
    font-family: myapp-mytaobao-iconfont;
    font-weight: 400;
    font-style: normal;
    src: url(font_1.eot) format('embedded-opentype'),
    url(font_1.woff) format('woff')
}
 .btn {border: none;
    padding: 0.02rem 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 1.5rem;
    background: -webkit-linear-gradient(left,#e93b3d,#ff9474);
    background: linear-gradient(90deg,#e93b3d,#ff9474);
    box-shadow: 2px 3px 0rem 0px rgba(233,59,61,.2);
    width: 80%;
    display: block;
    height: .4rem;
    line-height: 0.4rem;    position: relative;
    margin: 0 auto;
}
.save{
    background: linear-gradient(90deg,#3bb1e9,#2fead9);
}
.label3 {
    height: 0.5rem;
    line-height: 0.5rem;    padding-left: 0.1rem;
}
.label4{
   
    line-height: 0.5rem;    padding-left: 0.1rem;border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.1rem;
}
.label4 .title {
    display: block;
}
.label4 .next {
    display: block;
    position: relative
}
.label4 .wtext{padding: 0px 5px;
    height: 0.4rem;
    border: 1px solid #f2f2f2;
    background: #fff;
    display: inline-block;margin-right: .133rem;   
}
.next.nn{
    margin-bottom: 0.1rem;    height: 40px;
    border-bottom: 1px solid #f5f5f5;
}
.nn div.radio{
    display: block;
    float: right;
    margin-top: .014rem;
    margin-right: 0.17rem;
}
input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    line-height: 20px;
    color: #d8d8d8;
}
input[type=radio]:after {
    content: "";
    display:block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: #fff;
    border: 1.5px solid #ddd;
    background-color: #fff;
    box-sizing:border-box;
}
input[type=radio]:checked:after {
    content: "L";
    transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    border-color: #ee4d48;
    background-color: #ea3f3f;
}
.next  ico {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.next  .ico{
    display: block;  float: left;padding-left: 0.1rem;
}.next  .name{
    display: block;
    float: left;
    line-height: 0.3rem;
    font-size: 115%;
    margin-left: 0.15rem;
    text-align: justify;
    width: 70px;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
}
.next  ico.api3{background: url(../images/ico/zfbapi.png);
background-size:cover; }
.next  ico.api-1{background: url(../images/ico/lc2.png);
background-size:cover; }
.next  ico.api2{background: url(../images/ico/wxapi.png);
    background-size:cover; }
.label3 .msg{
    color:red;text-align: center;
}
.label4 .warea{
    
    border: 1px solid #f2f2f2;
    background: #fff;
    display: inline-block;margin-right: .133rem;   
}
.label4 .w1{
    width:95%; 
}
.label-act2 .ico .ico-head img.zfx {
    
    border-radius: 0;
}
.label4 .w2{
    width:45%; 
}
.label3 .title {
    display: inline-block;
}
.label3 .wtext{
    height: 0.4rem;
    border: 1px solid #f2f2f2;
    float: right;background: #fff;
    display: inline-block;margin-right: .133rem;    width: 1.5rem;
}
.oe_trap_error{
    float: right;
    position: absolute;
    top: 0px;
    right: 0.2rem;
    color: red;
}
.oe_trap_ok {
    display: none;
}
.btn-primary{
    border: none;
    padding: 0.02rem 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
   
   
    box-shadow: 2px 3px 0rem 0px rgba(233,59,61,.2);
    display: inline-block;
    height: .4rem;
    line-height: 0.3rem;
    margin: 0 auto;
}
.label3 .sub {
    display: inline-block;
}

.label3 .ico {
    display: inline-block;
    /* float: right; */
    position: absolute;
    right: 0.5rem;
}

.label3 .arrow {
    display: inline-block;
    float: right;
    padding-right: .133rem;
    line-height: .067rem;height: 100%;
}
.label3 .arrow .icon-right {
    font-size: .2rem;
    color: #999;line-height: .067rem;
}
.label3  [class*=icon-]:before {
    line-height: .5rem;
}



.font-32 {
    font-size: .18rem
}

.font-24 {
    font-size: .15rem;
    line-height: .18rem;
}

.modify .address-row .right-icons .icon-right {
    display: block
}



.address-row {
    border: none;
    -webkit-background-size: 100% 1px,100% 1px;
    background-size: 100% 1px,100% 1px;
    background-position: top;
  
    border-bottom: 1px solid #f4f4f4;
    padding:.2rem .08rem;
    position: relative
}

.address-row :first-child {
    margin-bottom: .16rem
}

.address-row.active {
    background-color: #5e6b85;
    color: #fff
}

.icon-check{
    width: 30px;
    height: 30px;
    display: block;
   
    background: url(../images/ico/choose.svg);
    background-size: cover;
    margin-top: 0.4rem;
    margin-left: 0.1rem
   
}
.w3 {
   width: 28%;
}
.btn span {
    position: relative;
}
.icon-add{
    width: 0.4rem;
    height: 0.4rem;
    display: inline-block;
    background: url(../images/ico/jia.svg);
    background-size: 80%;
    background-position: center center;
    background-repeat:no-repeat; 
    position: absolute;
    left: -0.4rem;
   
}
.icon-del {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 44px;

    display: inline-block;
    margin: 6px 5px 6px 3px;
    width: 30px;
    height: 30px;
    background: url(../images/ico/del.svg);
    background-size: 30px;
   
}
.address-row div {
    margin-right: 0.5rem
}

.address-row .right-icons {
   
    position: absolute;
    right: 0;
    width: 0.5rem;
    height: 100%;
    top: 0;
   
}

.row,.row.address {
    position: relative
}

.address-row .right-icons i {
    font-size: .64rem
}
.feile{
    position: fixed;
    top: -1000px;
    left: -1000px;;
}


